<div class="form-signin text-center">
  <h1 class="h1 mb-3" hidden><%= IDP['title'] %></h1>

  <div class="text-left">
    <h2 class="h2 mb-4">Share information</h2>

    <p>
      This data will only be used to create or match you to an account.
    </p>

    <div class="consent-list">
      <ul class="list-group mb-3">
        <li class="list-group-item border-top-0 border-right-0 border-left-0">Full Name</li>
        <li class="list-group-item border-top-0 border-right-0 border-left-0">Date of birth</li>
        <li class="list-group-item border-0">Address</li>
      </ul>
    </div>
  </div>

  <p class="mt-3 mb-5"><a href="#" class="text-danger">Where did this data come from?</a></p>

  <% if ENV['IDP'] == 'idp1' %>
    <%= link_to "Approve",
        { controller: "loading", action: "index", transaction_id: @transaction_id, redirect_path: @redirect_path},
        { class: "btn btn-lg btn-danger btn-block" } %>
  <% else %>
    <%= link_to "Approve",
        { controller: "loading", action: "index", transaction_id: @transaction_id, redirect_path: @redirect_path},
        { class: "btn btn-lg btn-warning btn-block" } %>
  <% end %>
  <a href="#" class="btn btn-lg btn-secondary btn-block">Cancel</a>
</div>

