<div class="form-signin text-center">
  <h1 class="h1 mb-3" hidden><%= IDP['authentication_title'] %></h1>

  <div class="text-left">
    <h2 class="h2 mb-4"><%= IDP['sign_in'] %></h2>

    <label for="email" class="font-weight-bold">Email address or username</label>
    <input type="email" id="email" class="form-control mb-4" placeholder="Email address" required autofocus>

    <%= link_to "Continue",
        { controller: "authentication", action: "password", transaction_id: @transaction_id, redirect_path: @redirect_path},
        { class: "btn btn-lg btn-danger btn-block" } %>
  </div>

  <p class="mt-4"><a href="#" class="text-danger">I forgot my username</a></p>

  <div class="dropdown-divider mt-5">
  </div>

  <div class="mt-4">
    <p>Create new account?</p>
    <a href="#" class="text-danger">Register here</a>
  </div>
</div>
