<div class="form-signin text-center">
  <h1 class="h1 mb-3" hidden><%= IDP['authentication_title'] %></h1>

  <div class="text-left">
    <h2 class="h2 mb-4">Sign in</h2>

    <label for="password" class="font-weight-bold">Fill in your password</label>
    <input type="password" id="password" class="form-control mb-4" placeholder="Password" required autofocus>

    <% if ENV['IDP'] == 'idp1' %>
      <%= link_to "Continue",
          { controller: "mfa", action: "index", transaction_id: @transaction_id, redirect_path: @redirect_path},
          { class: "btn btn-lg btn-danger btn-block" } %>
    <% else %>
      <%= link_to "Continue",
          { controller: "mfa", action: "index", transaction_id: @transaction_id, redirect_path: @redirect_path},
          { class: "btn btn-lg btn-warning btn-block" } %>
    <% end %>
  </div>

  <p class="mt-4"><a href="#" class="text-danger">I forgot my password</a></p>

  <div class="dropdown-divider mt-5">
  </div>

  <div class="mt-4">
    <a href="#" class="text-danger">Sign in with different email address</a>
  </div>
</div>
