<div class="form-signin text-center">
  <h1 class="h1 mb-3" hidden><%= IDP['title'] %></h1>

  <div class="text-left">
    <h2 class="h2 mb-4">Sign in with SMS</h2>

    <p>
      A code has been sent to your mobile phone.
      <br/>
      Please fill in the code below to log in.
    </p>

    <label for="mfa" class="font-weight-bold">Enter the code sent to your mobile phone</label>
    <input type="mfa" id="mfa" class="form-control mb-4" placeholder="Code" required autofocus>

    <% if ENV['IDP'] == 'idp1' %>
      <%= link_to "Continue",
          { controller: "consent", action: "index", transaction_id: @transaction_id, redirect_path: @redirect_path},
          { class: "btn btn-lg btn-danger btn-block" } %>
    <% else %>
      <%= link_to "Continue",
          { controller: "consent", action: "index", transaction_id: @transaction_id, redirect_path: @redirect_path},
          { class: "btn btn-lg btn-warning btn-block" } %>
    <% end %>
  </div>

  <p class="mt-4"><a href="#" class="text-danger">I didn't get my code</a></p>
</div>
